@model IEnumerable<TwoDesign.Models.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.ActionLink("Gör", "Img", new { id = item.ImageID })
            @Html.ActionLink("Edit", "Edit", new { id=item.ImageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImageID })
        </td>
    </tr>
}

</table>
